<!DOCTYPE html>
<html lang="{{ htmlWebpackPlugin.options.lang }}">

<head>

  {{> ../layouts/meta}}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment-with-langs.min.js"></script>

</head>

<body>

  {{> ../layouts/load}}
  {{> ../layouts/menu}}

  <div data-controller="index">
    <div class="banner-cont">
      {{!--  <div class="img-banner"></div> --}}
      <div class="text-cont">
        {{!-- <p>ODS9</p>
        <p>Industria, innovación e infraestructura</p> --}}
        <div class="columns">
          <div class="column-sm">
            <img src="/img/ODS (9).png" alt="ODS 9">
          </div>
          <div class="column-lg">
            <div class="cent">
              <h2>Diseño arquitectónico de espacios emergentes
                para la supervivencia y bienestar en sectores
                vulnerables de la Provincia del Guayas</h2>
              <h3>Facultad de Arquitectura y Diseño</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="desc-cont">
      <div class="columns">
        <div class="column">
          <div class="cent">
            <div class="title-cont">
              <h3>Actividades realizadas:</h3>
            </div>
            <div class="text-cont">
              <p>• Búsqueda investigativa del
                espacio analizado
              </p>
              <p>• Graficación del espacio escogido
                y su entorno</p>
              <p>• Análisis formal y funcional de
                casos análogos</p>
              <p>• Elaboración de planos con
                áreas necesarias</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="resources-cont">
            <div class="title-icon">
              <img src="./img/recursos.svg" alt="Resultados">
              <h3>Recursos</h3>
            </div>
            <div class="img-cont">
              <img src="./img/Resources-07.svg" alt="Calendar">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="results-cont">
      <h3>RESULTADOS OBTENIDOS</h3>
      <h4>Satisfacción por representantes sobre los diseños de espacios emergentes en Boca de Caña</h4>
    </div>
    <div class="calendar-cont">
      <div class="title-icon">
        <img src="./img/calendar.svg" alt="Resultados">
        <h3>Periodo de ejecución</h3>
      </div>
      <div id="range-calendar"></div>
      <div class="columns">
        <div class="column">
          <h4>Inicio</h4>
          <p class="number">15</p>
          <p class="date">DIC 19</p>
        </div>
        <div class="column">
          <h4>Final</h4>
          <p class="number">06</p>
          <p class="date">DIC 20</p>
        </div>
        <div class="column">
          <h4>Duración</h4>
          <p class="number">90</p>
          <p class="date">DIAS</p>
        </div>
      </div>
    </div>

  </div>

  {{!--  {{> ../layouts/footer}} --}}

</body>

</html>