<!DOCTYPE html>
<html lang="{{ htmlWebpackPlugin.options.lang }}">

<head>

  {{> ../layouts/meta}}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment-with-langs.min.js"></script>

</head>

<body>

  {{> ../layouts/load}}
  {{> ../layouts/menu}}

  <div data-controller="index">

    <div class="banner-cont">
      <div class="banner"></div>
      <h2>PROGRAMAS DE VINCULACIÓN</h2>
    </div>

    <div class="proj-cont">
      <div class="columns" id="index-proyectos">

      </div>
    </div>

  </div>

  {{> ../layouts/footer}}

</body>

</html>