<!DOCTYPE html>
<html lang="{{ htmlWebpackPlugin.options.lang }}">

<head>

  {{> ../layouts/meta}}

</head>

<body>

  {{> ../layouts/load}}
  {{> ../layouts/menu}}

  <div data-controller="index">
    <div class="proj-info-banner">
      <div class="columns">
        <div class="column-lg">
          <div class="cent">
            <h2> Diseño arquitectónico de espacios emergentes para la supervivencia y bienestar en sectores vulnerables
              de
              la Provincia del Guayas</h2>
            <h3>Búsqueda investigativa del espacio analizado
              Graficación del espacio escogido y su entorno
              Análisis formal y funcional de casos análogos
              Elaboración de planos con áreas necesarias.</h3>
            <h4>Facultad: <span>Arquitectura y Diseño</span> </h4>
            <h4>Director: <span>Arq. Ma. Enriqueta Carvajal Álava</span></h4>
          </div>
        </div>
        <div class="column-sm">
          <img src="/img/img1.png" alt="UEES">
        </div>
      </div>
    </div>
    <div class="proj-details">
      <div class="columns">
        <div class="column">
          <div class="card-detail">
            <div class="title">
              <img src="./img/calendar.svg" alt="calendar">
              <h3>Tiempo</h3>
            </div>
            <div class="details">
              <h4>Inicio: <span>9/11/2020</span> </h4>
              <h4>Fin: <span>4/1/2021</span> </h4>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card-detail">
            <div class="title">
              <img src="./img/calendar.svg" alt="calendar">
              <h3>Recursos</h3>
            </div>
            <div class="details">
              <h4>Presupuesto: <span>$0</span> </h4>
              <h4>Número de estudiantes: <span>77</span> </h4>
              <h4>Número de docentes: <span>1</span> </h4>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card-detail">
            <div class="title">
              <img src="./img/calendar.svg" alt="calendar">
              <h3>Académico</h3>
            </div>
            <div class="details">
              <h4>Publicaciones obtenidas: <span>Ninguna</span> </h4>
              <h4>ODS: <span>ODS9 Industria, innovación e infraestructura</span></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="proj-results">
      <h2>Resultados</h2>
      <h3>Satisfacción por representantes sobre los diseños de espacios emergentes en Boca de Caña.</h3>
      <img src="/img/dash.png" alt="UEES">
    </div>
    {{!--  <div class="proj-more">
      <h2>Más proyectos</h2>
      <div class="sep"></div>
      <div class="columns">
        <div class="column">
          <div class="card">
            <h3>La optimización de la calidad pedagógica y psicológica en la Unidad Educativa Juan Diego Cuauhtlatoatzin
            </h3>
          </div>
        </div>
        <div class="column"></div>
      </div>
    </div> --}}
  </div>

  {{> ../layouts/footer}}

</body>

</html>