<!DOCTYPE html>
<html lang="{{ htmlWebpackPlugin.options.lang }}">

<head>

  {{> ../layouts/meta}}

</head>

<body>

  {{> ../layouts/load}}
  {{> ../layouts/menu}}

  <div data-controller="index">
    <h1>HOLA q</h1>
  </div>

  {{> ../layouts/footer}}

</body>

</html>