[data-controller="index"] {
  .banner-cont {
    position: relative;
    //height: 40vh;
    @include fluid-resp(40px, 100px, margin-bottom);

    /*  .img-banner {
      background-image: url($dir-img+"banner-img.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: calc(100% / 1.15);
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
      left: 0;
      right: 0;
      @include push-auto();
    } */

    .text-cont {

      //@include vertical-align();
      .columns {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .column-sm {
          @include column(0.2, $cycle:2, $gutter: 3);
        }

        .column-lg {
          @include column(0.8, $cycle:2, $gutter: 3);
        }
      }

      .cent {
        @include vertical-align();
      }

      img {
        width: 100%;
        height: auto;
      }

      p {
        //text-align: center;
        font-style: italic;
        font-weight: 600;
        @include fluid-resp(16px, 20px, font-size);
      }

      h2 {
        //@include vertical-align();
        //text-align: center;
        color: $c2;
        font-weight: 900;
        @include fluid-resp(22px, 32px, font-size);
        @include fluid-resp(5px, 10px, margin-top);
      }

      h3 {
        font-weight: 700;
        text-transform: uppercase;
        @include fluid-resp(16px, 20px, font-size);
      }
    }
  }

  .desc-cont {
    max-width: $lg;
    @include push-auto();
    @include fluid-resp(40px, 100px, margin-bottom);

    .cent {
      @include vertical-align();
    }

    .title-cont {
      h3 {
        color: $c2;
        font-style: italic;
        font-weight: 600;
        @include fluid-resp(22px, 26px, font-size);
        @include fluid-resp(10px, 15px, margin-bottom);
        text-transform: uppercase;
      }
    }

    .text-cont {
      p {
        color: $c3;
        @include fluid-resp(16px, 20px, font-size);
        @include fluid-resp(2px, 2px, margin-bottom);
      }
    }

    .img-cont {
      .img-top {
        width: 100%;
        margin-left: auto;
      }

      img {
        width: 100%;
        height: auto;
        display: table;
      }
    }

    .columns {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .column {
        @include column(0.5, $cycle:2, $gutter: 3);
      }
    }
  }

  .calendar-cont {
    max-width: $md;
    width: 100%;
    @include push-auto();
    @include fluid-resp(40px, 100px, margin-bottom);

    .title-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        @include fluid-resp(30px, 40px, width);
        height: auto;
      }

      h3 {
        color: $c2;
        font-style: italic;
        font-weight: 600;
        @include fluid-resp(22px, 26px, font-size);
        @include fluid-resp(5px, 10px, margin-left);
        text-transform: uppercase;
      }
    }

  }

  .results-cont {
    max-width: $md;
    width: 100%;
    @include push-auto();
    @include fluid-resp(40px, 100px, margin-bottom);

    h3 {
      text-align: center;
      color: $c2;
      font-style: italic;
      font-weight: 600;
      @include fluid-resp(26px, 30px, font-size);
      @include fluid-resp(8px, 10px, margin-bottom);
    }

    h4 {
      text-align: center;
      color: $c3;
      font-style: italic;
      font-weight: 600;
      @include fluid-resp(24px, 28px, font-size);
    }
  }

  .resources-cont {
    max-width: $md;
    width: 100%;
    @include push-auto();
    @include fluid-resp(40px, 100px, margin-bottom);

    img {
      width: 100%;
      height: auto;
    }
  }
}