@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;0,900;1,600&display=swap');

$c1:#2F281E;
$c2:#810C33;
$c3:#4B4B4C;

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: $c1;
  background: #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-controller] {
  max-width: $xl;
  width: calc(100% / 1.1);
  @include push-auto();
}

.menu-cont {
  max-width: $xxl;
  width: calc(100% / 1.1);
  @include push-auto();
  @include fluid-resp(5px, 10px, margin-top);
  @include fluid-resp(30px, 50px, margin-bottom);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-cont {
    @include fluid-resp(120px, 140px, width);

    img {
      width: 100%;
      height: auto;
    }
  }

  .icon-cont {
    @include fluid-resp(20px, 30px, width);
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.footer-cont {
  @include fluid-resp(25px, 50px, margin-top);
  background-color: $c2;
  width: 100%;
  height: 25vh;
}