<div class="menu-cont">
  <div class="logo-cont">
    <a href="/">
      <img src="/img/uees-logo.png" alt="UEES">
    </a>
  </div>
  <div class="icon-cont">
    <img src="/img/menu.svg" alt="UEES">
  </div>
</div>